@import "tailwindcss";

@theme {
  --color-brand-orange: #ea580c;
  --color-brand-slate: #0f172a;
  --color-brand-grey: #f1f5f9;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-brand-grey text-brand-slate font-sans antialiased;
  }
}
